html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

input, label {
    display:block;
}

.main-screen {
    height: 100%;
    width: 100%;
    background-color: #000;

}
.options-wave-display {
    height: 5%;
    /* background-color: tomato; */
    padding: 2rem;
}

.options-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.wave-display {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.wave-column {
    display: flex;
    flex-direction: column;
    margin: 2px;
    justify-content: flex-end;
}
.wave-cell {
    margin-top: 2px;
    margin-bottom: 2px;
}

.color {
    height: 200px;
    width: 200px;
    background-color: #fff;
}

.change-color-container {
position: relative;
}

.change-color-options {
    position: absolute;
    height: 250px;
    width: 300px;
    background-color: #fff;
    right: 125px;
    top: 32px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: none;
}

.buttons {
    border: none;
    width: 120px;
    height: 30px;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: 30px;
    outline: transparent;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: thistle;
    cursor: pointer;
}

.light {
    color: #fff;
}
.dark {
    color: #000;
}
.input-color-container {
    margin-top: .7rem;
    margin-bottom: .7rem;
}
.input-color-container label {
    margin-left: 10px;
}
.input-color {
    outline: transparent;
    height: 30px;
    border-radius: 30px;
    border: none;
    border: solid 1px #c4c4c4;
    padding-right: 10px;
    padding-left: 10px;
}

.input-warning {
    display: none;
    font-size: 12px;
    color: red
}

.hint {
    font-size: 12px;
}

.wave-config-box {
    color: #fff
}
.wave-config-box label {
    margin-left: 10px;
}
